[Desktop Entry]
Categories=Utility;
Comment=Encrypt and decrypt secret messages.
Exec=kodebyter
Icon=/usr/share/kodebyter/kodebyter.svg
Keywords=code;social;encrypt;decrypt;
Name=KodeByter
StartupNotify=false
Terminal=true
Type=Application
Version=1.4
