[Desktop Entry]
Categories=Utility;
Comment=Encrypt and decrypt secret messages.
Exec=sh /usr/share/kodebyter/kodebyter.sh
Icon=blender
Keywords=code;social;encrypt;decrypt;
Name=CodeByter
StartupNotify=false
Terminal=true
Type=Application
Version=1.0